<!doctype html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application</title>
    
    {% load static %}
    <link rel="icon" type="image/svg+xml" href="{% static '/vite.svg' %}" />

    <link rel="stylesheet" crossorigin href="{% static '/styles.css' %}">
    
    <!-- <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script> -->
    <script type="module" crossorigin src="{% static '/application.js' %}"></script>

  </head>
  <body>

    <div id="root"></div>

  </body>
</html>
